.body {
  background-color: 000000;
}
.navbar-light {
  background-color: #80CBC4;
  position: sticky;
  top: 0;
  z-index: 100;
}
h3 {
  text-align: center;
  font-size: 52px;
  background-color: #7bc2ba;
}
.hero {
  background-image: url('bodybuilder-925770_960_720.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #ffffff;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero-cta {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff4500;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}
