.background {
  background-image: url('./vecteezy_vector-sound-wave-abstract-colorful-digital-equalizer_3705349.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-heading {
  margin-bottom: 20px;
  font-size: 120px;
  color: #7bc2ba;
}

.login-undertext {
  margin-bottom: 40px;
  color: white;
}
#login-but{
  border-radius: 10px;
}