.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    height: 300px;
    margin-top: 20px;
    text-align: center;
  }
  
  
  .profileimage {
    height: 200px;
    width: 200px;
    border: 1px;
    border-color: #00adb5;
    border-radius: 100px;
    align-content: center;
  }
  
  .text-container {
    display: grid;
    align-content: center; /* Vertically center the text within the container */
    gap: 10px; /* Add gap between the heading and information */
  }
  
  .heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .information {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  