.album-img {
    width: 30px;
    height: px;
    border-radius: 10px;
}
th {
  position: sticky;
  top: 0;
  background-color: #00adb5;
  z-index: 1;
}

.collapse-text ul{
  display: inline-block;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 50px;
  border-color: white;
  overflow-y: auto;
  font-size: 20px;
}

.collapse-text li{
  display: block;
  width: auto;
}


table{
  display: block;
  border: 1px;
  margin: auto;
  width: 60%;
  font-size: 12px;
  color: white;
  background-image: linear-gradient(to bottom, #474b4F, #222629);
  max-height: 400px;
  overflow-y: scroll; 
}
tbody {
  overflow-y: scroll;
}

.form-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 20px;
}
.form-headings{
    text-align: center;
    font-size: 2em;
    background-color: #7bc2ba;
    color: white;
}
.howto{
  justify-content: center;
  display: block;
  align-items: center;
}

input {
    display:block;
    width:30%;
    height:10%;
    margin:10px 0;
    padding:10px;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-bottom: 50px;  
  }
  
  .type-1 {
    width: 200px;
    height: 50px;
  }

  .generate-description {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    color: white;
  }

  .type-1 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  label {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #777;
  }

  .btn {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: white;
    border-radius: 1px;
    margin-top: 50px;
    background-color: #222629;
    height: auto;
    width: auto;
  }
  form {
  align-items: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222629;
}

.button-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}
.footer-container {
  margin-top: auto;
}
.collapse-text.collapse.show{
  max-height: 500px;
  max-width: 300px;
}
.button-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #222629;

}
.button-wrapper1-container{
  background-color: #222629;
}

.collapse-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: scroll;
  max-height: 150px;
  flex-wrap: wrap;
}