.energy-container {
    display: grid; /* Use grid display */
    grid-template-columns: 1fr 1fr; /* Define two equal columns */
    grid-gap: 5px; /* Add gap between columns */
    height: 300px;
    align-items: center;
    background-color: beige;
    margin-bottom: 50px;
  }
.text{
    height: 250px;
    text-align: center;
}
.chart{
    height: 250px;
}
  